<header>
  <nav class="navbar navbar-fixed-top">
    <a class="navbar-brand" routerLink="">S</a>
  <button *ngIf=" login " (click)="onClickLogout()">Logout</button>
  <a *ngIf=" ! login " routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/register" routerLinkActive="active">Register</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/job" routerLinkActive="active">JOB</a>

    <div ngbDropdown class="d-inline-block">
      <div ngbDropdownToggle>JOB</div>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/job" routerLinkActive="active">JOB HOME</a>
        <a class="dropdown-item" routerLink="/job/post" routerLinkActive="active">JOB POST</a>
        <a class="dropdown-item" routerLink="/job/list" routerLinkActive="active">JOB LIST</a>
      </div>
    </div>
  </nav>
</header>

<section class="content">
    <h2>HOME PAGE</h2>
    <div *ngIf=" login ">You are logged in as {{ login.id }}</div>
    <div *ngIf=" ! login ">You are not logged in</div>
</section>



<footer>
  <nav class="navbar navbar-fixed-bottom">
    <a class="navbar-brand" routerLink="">Copyright (c) 2016 ~ www.sonub.com</a>
  </nav>
</footer>

